body {
  font-family: Georgia, serif !important;
  line-height: 1.6;
  font-size: 16px;
}

h1 {
  font-family: Georgia, serif 
  font-weight: bold;!important;
}

h2, h3, h4, h5, h6 {
  font-family: Georgia, serif 
  font-weight: bold;!important;
}
.gt_table {
  font-family: Georgia, serif !important;
}

.figure {
  text-align: center;
}